<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bimilyoncu.sscoderss.floatingplayerforyoutube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!--<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27"/>-->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:icon"
        android:name="android.support.multidex.MultiDexApplication"
        android:showOnLockScreen="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.PlaylistActivity"
            android:label="@string/title_activity_playlist" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main">
            <!--android:theme="@style/MyMaterialTheme.NoActionBar"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ChannelVideoList" />

        <service android:name=".Floaties.Floaty$FloatHeadService" />

        <receiver
            android:name="com.bimilyoncu.sscoderss.floatingplayerforyoutube.Receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Custom.Notification.ButtonPlayPause">
            <intent-filter>
                <action android:name="PlayPauseClicked" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Custom.Notification.ButtonClose">
            <intent-filter>
                <action android:name="Close" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Custom.Notification.ButtonNextMusic">
            <intent-filter>
                <action android:name="NextMusic" />
            </intent-filter>
        </receiver>

    </application>
</manifest>