<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bimilyoncu.sscoderss.floatingplayerforyoutube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:showOnLockScreen="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".Activity.PlaylistActivity"
            android:label="@string/title_activity_playlist" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Trial Start -->

      <!--  <activity
            android:name=".Trial.Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->


        <!-- Activities -->
        <activity
            android:name=".Trial.Activity.SearchActivity"
            android:label="@string/app_name" />

        <activity android:name=".Trial.Activity.ListActivity" />
        <!-- Finish Activities -->

        <!-- Trial Finish -->

        <activity android:name=".Activity.ChannelVideoList" />

        <activity android:name=".Activity.SlideOnboardingActivity" />

        <service android:name=".Floaties.Floaty$FloatHeadService" />

        <receiver android:name=".Custom.BroadcastPowerButton" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

<!--
        <receiver android:name=".Custom.Notification.ButtonPlayPause"
            android:enabled="true">
            <intent-filter>
                <action android:name="PlayPauseClicked" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Custom.Notification.ButtonClose"
            android:enabled="true">
            <intent-filter>
                <action android:name="Close" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Custom.Notification.ButtonNextMusic"
            android:enabled="true">
            <intent-filter>
                <action android:name="NextMusic" />
            </intent-filter>
        </receiver>-->
    </application>
</manifest>